*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: rgb(223, 223, 223);
  margin-top: 10px;
  font-size: 25px;
  font-weight: 200;
}

body{
  font-family: sans-serif;
  background: #18181B;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;

}

input{
  border-radius: 25px;
  font-size: 20px;
  padding: 8px 40px 8px 20px;
  border: none;
  background-color: #27272a;
  
}

input::placeholder{
  color: rgb(221, 221, 221);
  font-size: 15px;
}

main p{
  color: white;
  font-weight: 200;
  font-size: 30px;
}

.state-drives{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: 1rem;
}

.state-drives div{
  background: blue;
  padding: .3rem .3rem .3rem .3rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
